<app-navbar></app-navbar>

<div class="container mt-3">
    <div class="row">
        <div class="mx-auto col-lg-6 col-md-6 col-12 ">
             <form (ngSubmit)="onCreate()" novalidate #f="ngForm" >
                <div class="mb-3 mt-3">
                    <label for="titulo">Título:</label>
                    <input type="text" class="form-control " id="titulo" placeholder=" título" name="titulo" [(ngModel)]=" titulo" required>
                </div>
    
                <div class="mb-3 mt-3">
                    <label for="fecha">Fecha:</label>
                    <input type="text" class="form-control " id="fecha" placeholder="Inicio-Fin " name="fecha" [(ngModel)]=" fecha" required>
                </div>
    
                <div class="mb-3 mt-3">
                    <label for="lugar">Institución</label>
                    <input type="text" class="form-control " id="lugar" placeholder="Nombre de la institución" name="lugar" [(ngModel)]="lugar" required>
                </div>

                <div class="mb-3 mt-3">
                    <label for="descripcion">Descripción:</label>
                    <textarea type="text" class="form-control " id="descripcion" placeholder="Breve descrcipcion" name="descripcion" [(ngModel)]="descripcion" required></textarea>
                </div>
    
                <div class= "d-grid gap-2 d-md-flex">
                    <button class="btn btn-outline-success" 
                            [disabled]="!f.valid">
                            <i class="fa-solid fa-circle-plus"></i>
                            Crear
                    </button>
                    <button class="btn btn-outline-primary" 
                            routerLink = "/Estudios"> 
                            <i class="fa-solid fa-rotate-left"></i>
                            Volver
                    </button>
                  </div>
            </form>
        </div>
    </div>
</div>